<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myBean" class="tr.edu.hacettepe.bbm490.MyBean" init-method="initialized" destroy-method="destroyed">
		<property name="message" value="Hacettepe University - BBM490"></property>
	</bean>
</beans>