<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="accountService" class="tr.edu.hacettepe.bbm490.AccountServiceImpl" autowire="byName"/>

        <bean id="accountDao" class="tr.edu.hacettepe.bbm490.AccountDaoInMemoryImpl"/>

        <bean id="accountDaoJdbc" class="tr.edu.hacettepe.bbm490.AccountDaoJdbcImpl"/>
</beans>
